/* hin6.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f0e3; /* Light beige background */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #ffcc80; /* Light orange background */
    border-radius: 10px;
}

.header h1 {
    color: #b34700; /* Darker shade of orange */
}

.thought {
    font-style: italic;
    color: #404040;
}

.content {
    margin-top: 20px;
}

.topic h2 {
    color: #b34700; /* Darker orange */
    text-align: center;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.video-container iframe {
    width: 80%;
    height: 450px;
    border: none;
    border-radius: 10px;
}